@using EnglishForKid.Models.ViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">SURVEY QUESTION LIST</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body padding-large">
        <div class="col-md-12"><h2 style="text-align:center;" class="text-success" id="textNotice"></h2></div>
        <button type="Submit" class="btn btn-primary  margin-bottom" data-toggle="modal" data-target="#myModalAddSurvey">Add new survey question</button>

        <table class="table table-bordered text-center table-responsive table-hover">


            <thead>
                <tr align="center" style="">
                    <th>No.</th>
                    <th>Content</th>
                    <th>Create At</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (BaseQuestionSurveyViewModel baseQuestion in ViewBag.BaseQuestions)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@baseQuestion.Content</td>
                            <td>@baseQuestion.CreateAt.ToString("dd/MMM/yyy hh:mm:ss")</td>
                            <td>@baseQuestion.GetStatus</td>
                            <td>
                                <button type="button" class="detailQuestion btn btn-info" data-question-id="@baseQuestion.ID" data-toggle="modal" data-target="#myModalDetailSurvey">Detail</button>
                                <button type="Submit" class="updateQuestion btn btn-success" data-question-id="@baseQuestion.ID" data-toggle="modal" data-target="#myModalUpdateSurvey">Update</button>
                                <button type="Submit" class="activeQuestion btn btn-primary" data-question-id="@baseQuestion.ID" data-toggle="modal" data-target="#myModalActiveSurvey" disable="@baseQuestion.GetAction">Active</button>
                                <button type="Submit" class="deleteQuestion btn btn-danger" data-question-id="@baseQuestion.ID" data-toggle="modal" data-target="#myModalDeleteSurvey">Delete</button>
                            </td>

                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalAddSurvey" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="margin:2%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD NEW SURVEY QUESTION</h4>
            </div>
            <div class="modal-body">
                <div class="box-body padding-large">
                    <form>
                        <div class="form-group row">
                            <label for="">Content</label>
                        </div>
                        <div class="form-group row">
                            <textarea class="form-control" rows="5" id="contentAdd"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Aswer option</label>
                            <select class="form-control" id="quantity">
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="answerContent">
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left">Answer 1</label>
                                <div class="col-md-10 col-xs-12">
                                    <input type="text" class="form-control" id="answerAdd1" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left">Answer 2</label>
                                <div class="col-md-10 col-xs-12">
                                    <input type="text" class="form-control" id="answerAdd2" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left">Answer 3</label>
                                <div class="col-md-10 col-xs-12">
                                    <input type="text" class="form-control" id="answerAdd3" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left">Answer 4</label>
                                <div class="col-md-10 col-xs-12">
                                    <input type="text" class="form-control" id="answerAdd4" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left">Answer 5</label>
                                <div class="col-md-10 col-xs-12">
                                    <input type="text" class="form-control" id="answerAdd5" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left">Answer 6</label>
                                <div class="col-md-10 col-xs-12">
                                    <input type="text" class="form-control" id="answerAdd6" value="">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="addQuestion" class="btn btn-primary pull-right margin">
                    <span><i class="fa fa-clock-o txt-danger" ></i></span> Add
                </button>
                <button type="button" class="btn btn-default margin" data-dismiss="modal"> Close </button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalUpdateSurvey" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="margin:2%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">UPDATE SURVEY QUESTION</h4>
            </div>
            <div class="modal-body">
                <div class="box-body padding-large">
                    <form>
                        <div class="form-group row">
                            <label for="">Content</label>
                        </div>
                        <div class="form-group row">
                            <textarea class="form-control" rows="5" id="contentUpdate"></textarea>
                        </div>
                        <div id="answerContent">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group row">
                            <button type="submit" id="updateQuestion" class="btn btn-primary pull-right">
                                <span><i class="fa fa-clock-o txt-danger"></i></span>
                                Update
                            </button>

                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalDetailSurvey" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="margin:2%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DETAIL SURVEY QUESTION</h4>
            </div>
            <div class="modal-body">
                <div class="box-body padding-large">
                    <form id="formDetailQuestion">
                        <div class="form-group row">
                            <label id="contentQuestionSurvey" style="color:slateblue;">Content:</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalDeleteSurvey" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="margin:2%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DELETE QUESTION SURVEY</h4>
            </div>
            <div class="modal-body">
                <div class="box-body padding-large">
                    <form>
                        <div class="form-group row text-center">
                            <label>Are you sure that you want to delete this survey question</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-md-9 col-xs-12"></div>
                    <div class="col-md-1 col-xs-12">
                        <button type="button" class="btn btn-success" id="deleteQuestion">Yes</button>
                    </div>
                    <div class="col-md-1 col-xs-12">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>

                    <div class="col-md-1 col-xs-12"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalActiveSurvey" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="margin:2%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ACTIVE SURVEY QUESTION</h4>
            </div>
            <div class="modal-body">
                <div class="box-body padding-large">
                    <form>
                        <div class="form-group row text-center">
                            <label>Are you sure that you want to active this question?</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-md-9 col-xs-12"></div>
                    <div class="col-md-1 col-xs-12">
                        <button type="button" class="btn btn-success" id="activeQuestion">Yes</button>
                    </div>
                    <div class="col-md-1 col-xs-12">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                    <div class="col-md-1 col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Scripts/Survey/index.js"></script>