@using EnglishForKid.Models;
@{
    ViewBag.Title = "DetailOfLesson";
    Layout = "~/Views/Shared/_Layout_ST.cshtml";
}
<!--Main Body-->
<script src="~/Scripts/Lesson/lesson-detail.js"></script>
@{
    Lesson lesson = ViewBag.Lesson;
}
<div class="content padding-left bg-white border margin-top-small" style="margin-top:5px;">
    <div class="padding">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="cat-img" href="#"><img src="~/Content/files/image/LessonImage/5.jpg" style="width:100px;height:100px" class="img-circle"></a>
        </div>
        <div class="col-md-10 col-sm-9">
            <h3>@lesson.Title</h3>
            <div class="entry-meta table">
                <span>
                    Written by
                    <label>@lesson.ApplicationUser.UserName</label>
                </span>
                Published
                <span> @lesson.CreateAt </span>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="contents_new1 col-xs-12">
            <h3><span class="field-group-format-toggler">Contents</span></h3>
            @Html.Raw(lesson.Content);
        </div>
    </div>
    <div class="collapsible speed-fast effect-none fieldgroup-effects-processed discussion bg-white padding">
        <h3><span class="field-group-format-toggler">Discussion</span></h3>
        <div class="field-group-format-wrapper" style="display: block;">
            <div class="field field-name-field-discussion field-type-text-long field-label-hidden">
                <div class="field-items border">
                    <div class="field-item even">
                        <div>@Html.Raw(lesson.Discussion)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="contents_new1">
            <!-- Comment Start -->
            @{
                if (ViewBag.IsLogin)
                {
                    <div class="col-xs-12">
                        <h2>Comment!</h2>
                        <div>
                            <textarea class="form-control" rows="4" id="commentContent" name="commentContent" placeholder="Writting something..."></textarea>

                            <div class="thong-bao"></div>
                            <div class="smt1">
                                <button class="btn btn-primary pull-right" id="btnSendComment" value="Send" style="margin-top:10px"> Send </button>

                            </div>
                        </div>
                    </div>
                }
            }

            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="page-header">Comments</h2>
                        <section class="comment-list">
                            <div id="listComments">
                                <!-- First Comment -->
                                @*@{
                                        Html.RenderAction("GetComments", "Lesson", new { lessonId = lesson.ID });
                                    }*@
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--Comment End-->
        </div>
    </div>
</div>