@using EnglishForKid.Models.ViewModels

@{
    ViewBag.Title = "ListLessonByCategory";
    Layout = "~/Views/Shared/_Layout_ST.cshtml";
    List<BaseLessonInfoViewModel> lessons = ViewBag.BaseLessonInfoViewModels;
    int numberOfLessons = ViewBag.NumberOfLessons;
    int step = 3;
}

<div class="margin-top-small">
    <div class="panel border ">
        <div class="box-header bg-danger border">
            <span class="glyphicon glyphicon-education"></span>
            @Request.QueryString["categoryName"]
        </div>
        <div class="panel-body">

            <div class="row posts">
                <div class="lesson-item">
                    @{
                        foreach (BaseLessonInfoViewModel lesson in lessons)
                        {
                            <div class="row">
                                <div class="col-md-2 col-xs-12 text-center">
                                    <a class="cat-img" href=""><img src="https://i.ytimg.com/vi/cq1Ga37eNhE/maxresdefault.jpg" alt="https://i.ytimg.com/vi/cq1Ga37eNhE/maxresdefault.jpg" style="width:100px;height:100px" class="img-circle"></a>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <h3>@lesson.Title</h3>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p>@lesson.Description</p>
                                            <div class="read-more padding text-center">
                                                <a class="btn btn-primary btn-hover pull-right" href="DetailOfLesson?id=@lesson.ID" role="button">Read More</a>
                                            </div>
                                            <ul class="list-inline">
                                                <li><a href="">Published @lesson.CreateAt</a></li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-comment">
                                                        </i> @lesson.NumberOfComments Comments
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="divider" />
                        }
                    }

                </div>
            </div>
        </div>
        <!--/Blog Posts-->
        <!--Pagniation-->
        <div class="container">
            <div class="row table">
                <div class="text-center col-xs-12 col-md-12">
                    <ul class="pagination pagination-responsive pagination">
                        @{
                            string categoryName = Request.QueryString["categoryname"];
                            string start = Request.QueryString["start"];
                            if (categoryName == null)
                            {
                                categoryName = "reading";
                            }
                            if (start == null)
                            {
                                start = "0";
                            }
                            int before = Int32.Parse(start) - step;
                            int after = Int32.Parse(start) + step;

                            <li>
                                @{if (Int32.Parse(start) == 0)
                                    {
                                        <a>&laquo;</a>
                                    }
                                    else
                                    {
                                        <a href="/Lesson/ListLessonByCategory?categoryname=@categoryName&start=@before&take=@step">&laquo;</a>
                                    }
                                }
                            </li>

                                    for (int i = 0; i < Math.Ceiling((decimal)numberOfLessons / step); i++)
                                    {
                                        if (Int32.Parse(start) / step == i)
                                        {
                                            <li class="active">
                                                <a href="/Lesson/ListLessonByCategory?categoryname=@categoryName&start=@(i * step)&take=@step">@(i + 1)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="/Lesson/ListLessonByCategory?categoryname=@categoryName&start=@(i * step)&take=@step">@(i + 1)</a>
                                            </li>
                                        }
                                    }
                                    <li>
                                        @{if (Int32.Parse(start)+step >= numberOfLessons)
                                            {
                                                <a>&raquo;</a>
                                            }
                                            else
                                            {
                                                <a href="/Lesson/ListLessonByCategory?categoryname=@categoryName&start=@after&take=@step">&raquo;</a>
                                            }
                                        }
                                    </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
        <!--Pagniation End-->
    </div>
</div>