@using EnglishForKid.Models
@model EnglishForKid.Models.Lesson
@{
    Lesson lesson = ViewBag.Lesson;
}

<div class="box-body padding-large">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div hidden>
                <input type="text" class="form-control" name="addLessonID" id="addLessonID" value="@lesson.ID">
            </div>
            <label for="">Title</label>
            <div>
                <input type="text" class="form-control" name="addLessonTitle" id="addLessonTitle" value="@lesson.Title">
            </div>

        </div>

        <div class="form-group ">

            <label for="">Level</label>
            <div>
                <select class="form-control" name="addLessonLevel" id="addLessonLevel" value="@lesson.LevelID">
                    <option>1</option>
                    <option> 2</option>
                    <option> 3</option>
                    <option> 4</option>
                    <option> 5</option>
                </select>
            </div>

        </div>

        <div class="form-group">

            <label for="">Picture</label>
            <div>
                <input type="text" class="form-control" name="addLessonPicture" id="addLessonPicture" value="@lesson.Image">
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group">

            <label for="">Category</label>
            <div>
                <select class="form-control" iname="addLessonCategory" id="addLessonCategory" value="@lesson.CategoryID">
                    <option>Vocabulary</option>
                    <option>Reading</option>
                    <option>Listening</option>
                </select>
            </div>

        </div>
        <div class="form-group">

            <label for="">Content</label>
            <div>
                <textarea class="ckeditor" name="addLessonContent" id="addLessonContent" value="@lesson.Content"></textarea>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group">

            <label for="">Exercise</label>
            <div>
                <textarea class="ckeditor" name="addLessonExercise" id="addLessonExercise" value="@lesson.Exercise"></textarea>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group ">

            <label for="">Answer</label>
            <div>
                <textarea class="ckeditor" name="addLessonAnswer" id="addLessonAnswer" value="@lesson.Answer"></textarea>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group ">

            <label for="">Discussion</label>
            <div>
                <textarea class="ckeditor" name="addLessonDiscussion" id="addLessonDiscussion" value="@lesson.Discussion"></textarea>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-sm-4"></div>

            <div class="col-sm-2">

                <button type="submit" class="btn btn-primary btn-label-left" name="btnAddLesson" id="btnaddLesson">
                    <span><i class="fa fa-clock-o txt-danger"></i></span>
                    Add
                </button>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">

                <button type="button" class="btn btn-danger btn-label-left" data-dismiss="modal">
                    <span><i class="fa fa-clock-o txt-danger"></i></span>
                    Cancel
                </button>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label class="alert-info" id="sendEmailMessage"></label>
        </div>
    </form>
</div>