@model EnglishForKid.Models.Lesson

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}


<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">UPDATE A LESSON</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body padding-large ">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Category.ID, new SelectList(ViewBag.Categories, "Name"))

                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9 ">
                        @Html.DropDownListFor(model => model.Level, new SelectList(ViewBag.Levels, "Value"))
                        @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Discussion, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Discussion, new { htmlAttributes = new { @class = "form-control", @id = "Discussion" } })
                        @Html.ValidationMessageFor(model => model.Discussion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Exercise, htmlAttributes: new { @class = "control-label col-md-2", })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Exercise, new { htmlAttributes = new { @class = "form-control ", @id = "Exercise" } })
                        @Html.ValidationMessageFor(model => model.Exercise, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2", })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @id = "Answer" } })
                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-9">
                        <input type="submit" value="UPDATE" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary btn-large fa fa-arrow-left" })
        </div>

    </div>
</div>